<launch>
    <!-- Arguments -->
    <arg name="lidar" default="$(optenv LINGAO_LIDAR rplidar)" doc="model type [rplidar, ydlidar, hokuyo]"/>
    <arg name="model" default="$(optenv LINGAO_MODEL LA_4WD_LingFeng)"/>

    <!-- Run lingao compatible laser drivers. -->
    <include file="$(find lingao_bringup)/launch/include/lidar/$(arg lidar).launch" />

    <!-- Publish static transform of the laser. Define your sensor offset here -->
    <node pkg="tf2_ros" if="$(eval model == 'LA_4WD_LingFeng')" type="static_transform_publisher" name="base_link_to_laser" args="0.04 0 0.138 3.1415 0 0  /base_link /laser"/>
    <node pkg="tf2_ros" if="$(eval model == 'LA_4WD_LingHuan')" type="static_transform_publisher" name="base_link_to_laser" args="0.185 0 0.373 0 0 0  /base_link /laser"/>
    <node pkg="tf2_ros" if="$(eval model == 'LA_4WD_LingLei')" type="static_transform_publisher" name="base_link_to_laser" args="0.140 0 0.222 0 0 0  /base_link /laser"/>

</launch>


