<launch>
    <!-- ISENS IMU  Sensor-->
    <node pkg="isens_ros" type="zen_sensor_node" name="imu_node" output="screen">
        <!-- <param name="sensor_name" value="devicefile:/dev/ttyUSB0" /> -->
        <param name="baudrate" value="115200" />
        <param name="frame_id" value="imu_link" />

    </node>
    
</launch>
