<launch>

    <include file="$(find lingao_bringup)/launch/include/camera/rgb_camera.launch">
        <!-- <arg name="vid" value="0x0edc"/>
        <arg name="pid" value="0x3080"/>
        <arg name="camera" value="camera1"/>
        <arg name="index" value="0"/> -->
    </include>

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_base_link"    args="0 -0.045 0 0 0 0 camera_link camera_rgb_frame" />   -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="camer_link_to_base_link" args="0 0 0.05 0 0 0  /base_link /camera_link"/>


</launch>