<launch>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="camera"              default="camera"/>

        <arg name="depth_width"       default="848"/>
        <arg name="depth_height"      default="480"/>
        <arg name="depth_fps"           default="30"/>
        <arg name="enable_depth"      default="true"/>

        <arg name="color_width"       default="1280"/>
        <arg name="color_height"      default="720"/>
        <arg name="color_fps"           default="30"/>
        <arg name="enable_color"      default="true"/>

        <arg name="infra_width"         default="848"/>
        <arg name="infra_height"        default="480"/>
        <arg name="enable_infra"        default="false"/>
        <arg name="enable_infra1"       default="false"/>
        <arg name="enable_infra2"       default="false"/>
        <arg name="infra_rgb"               default="false"/>

        <arg name="confidence_width"    default="-1"/>
        <arg name="confidence_height"   default="-1"/>
        <arg name="enable_confidence"   default="true"/>
        <arg name="confidence_fps"          default="-1"/>

        <arg name="enable_pointcloud"         default="false"/>
        <arg name="filters"                         default=""/>
        <arg name="enable_sync"         default="true"/>
        <arg name="publish_tf"                default="true"/>
        
    </include>

</launch>