<launch>
    <!-- Start ROS communication between the lingao base -->
    <include file="$(find lingao_bringup)/launch/lingao_base_driver.launch" />

    <!-- IMU Relay and Filter -->
    <include file="$(find lingao_bringup)/launch/include/imu/imu.launch" />

    <!-- Publish static transform from base_footprint to base_link -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.05 0 0 0  /base_footprint /base_link"/>
    
    <!-- Odom-IMU Extended Kalman Filter-->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization"> 
        <remap from="odometry/filtered" to="odom" />
        <rosparam command="load" file="$(find lingao_bringup)/param/ekf/robot_localization.yaml" />
    </node>


</launch>
